<div class="block-game-wrapper">
    <div class="awards">
        <div class="score">
            <div class="icon">
                <img class="evocoin black" src="{{{config.wwwroot}}}/blocks/game/pix/evocoin.svg" alt="Evocoin">
            </div>
            <div class="points">{{{score}}}</div>
        </div>
        {{#hasbadges}}
            <div class="badges">
                {{#badges}}
                    <img src="{{{badgeimage}}}" alt="{{{name}}}" class="evokebadge {{^awarded}}dimmed{{/awarded}}">
                {{/badges}}
            </div>
        {{/hasbadges}}
        <div class="navigation">
            <a href="{{{config.wwwroot}}}/blocks/game/rank_game.php?id={{{courseid}}}" class="btn btn-primary"><i class="fa fa-trophy icon"></i> <span class="text">{{#str}}viewscoreboard, block_game{{/str}}</span></a>
        </div>
    </div>

    <div class="userinfo">
        <div class="username">
            {{{userfirstname}}}
        </div>
        <div class="userpicture">
            {{{userpicture}}}
        </div>
    </div>
</div>