<div class="row">
    <div class="col">
        <div class="awards">
            <div class="score">
                <div class="icon">E</div>
                <div class="points">{{{score}}}</div>
            </div>
            <div class="badges">
                BADGES GOES HERE
            </div>
        </div>
        <a href="{{{config.wwwroot}}}/blocks/game/rank_game.php?id={{{courseid}}}" class="btn btn-primary ml-4">View score board</a>
    </div>
    <div class="col text-right">
        <div class="userinfo">
            <div class="username">
                {{{userfirstname}}}
            </div>
            <div class="userpicture">
                {{{userpicture}}}
            </div>
        </div>
    </div>
</div>